.product-card {
    /* background: linear-gradient(180deg, #FEED9F, #FFFFFF); */
    background: #f8f8f8;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-img-wrapper {
    overflow: hidden;
    border-radius: 10px;
}

.product-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.product-image:hover {
    transform: scale(1.05);
}

.product-name {
    font-weight: 500;
    font-size: 0.95rem;
    margin: 0;
    display: -webkit-box;
    /* required for line-clamp */
    -webkit-line-clamp: 2;
    /* show 2 lines max */
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* hide extra text */
    text-overflow: ellipsis;
    /* add ... if overflow */
    min-height: 2.4em;
    /* ensures 2 lines height even if text is short */
    line-height: 1.2em;
}