.category-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.category-card:hover {
    transform: translateY(-5px);
}

.category-img-wrapper {
    width: 180px;
    /* you can set 150–200px depending on design */
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    background: radial-gradient(circle at center,
            /* center of element */
            #FFFFFF 0%,
            /* bright white at center */
            #FEED9F 75px,
            /* fade to yellow */
            #FEED9F 100%
            /* edges stay yellow */
        );
    /* fallback background */
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-img {
    width: 150px;
    height: auto;
    object-fit: cover;
    /* auto fit image inside circle */
}

.category-title {
    font-size: 1rem;
    font-weight: 600;
    color: #4C348C;
}