@import "~@fortawesome/fontawesome-free/css/all.min.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body,
html,
div,
span,
p,
a,
li,
input,
button,
textarea,
select {
  font-family: "Montserrat", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
}

.container-area {
  padding: 40px 0px;
}

.slick-prev-arrow.slick-disabled,
.slick-next-arrow.slick-disabled {
  opacity: 0.5;
  pointer-events: none;
  box-shadow: none;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

@media (max-width: 992px) {
  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
  }
}

@media (max-width: 576px) {
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form-check-input:checked {
  background-color: #4c348c !important;
  border: none;
}

.form-check-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #4c348c !important;
}