
.category-card {
  align-items: start;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-radius: 12px;
  gap: 15px;
}

.category-card img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.category-card-content h5 {
  font-weight: 600;
  margin-bottom: 8px;
}

.category-card-content p {
  font-size: 0.95rem;
  line-height: 1.5;
}

@media (max-width: 576px) {
  .category-card {
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5rem 1rem; /* more breathing space */
  }

  .category-card img {
    width: 120px;           
    height: 120px;
    margin-bottom: 16px;
  }

  .category-card-content h5 {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .category-card-content p {
    font-size: 0.9rem;
    line-height: 1.6;
    max-width: 90%;
    margin: 0 auto;
  }
}


.gradient-1 {
  background: linear-gradient(to right bottom, #FEED9F, #FFFFFF);
  padding-bottom: 12px;
}

.gradient-2 {
  background: linear-gradient(to left bottom, #917bcd, #FFFFFF);
}

.gradient-3 {
  background: linear-gradient(to right top, #917bcd, #FFFFFF);
}

.gradient-4 {
  background: linear-gradient(to left top, #FEED9F, #FFFFFF);
}
